.jodit-react-container{
    width: 98% ;

}
.aboutadmin{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.aboutadmin_heading{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}
.aboutadmin_update{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.aboutadmin_update>form{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}
.aboutadmin_update>form>p{
    margin-bottom: 10px;
    font-size: 20px;
}
.aboutadmin_update>form>textarea{
    width: 98%;
    height: 200px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
.aboutadmin_update>form>button{
    width: 150px;
    height: 35px;
    border: transparent;
    outline: transparent;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    
}