.forgetpassword{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.forgetpassword>div{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.forgetpassword>div>p{
    margin-bottom: 10px;
}
.forgetpassword>div>form{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
}
.forgetpassword>div>form>span{
    margin-bottom: 10px;
}
.forgetpassword>div>form>label{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    
}
.forgetpassword>div>form>span{
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}
.forgetpassword>div>form>span>input{
    margin-bottom: 10px;
    border: none;
    outline: none;
    height: 35px;
    padding-left: 10px;
    
}
.forgetpassword>div>form>button{
    width: 100%;
    /* margin-top: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: transparent;
    outline: transparent;
    border-radius: 4px;
    cursor: pointer;
}
.forgetpassword_icon_span{
    padding: 5px;
    background-color: #96b7ed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}