.ratingcard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 12px;
    border-radius: 5px;
}
.ratingcard_header{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.ratingcard_details{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    flex-direction: column;
}
.ratingcard_header>span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4F6FC5;
    color: #fff;
    padding: 2px 3px;
    font-size: 16px; 
    font-weight: 400;
    margin-right: 15px;
    border-radius: 5px;
}
.ratingcard_header>p{
    font-size: 18px; font-weight: 500;
}
.ratingcard_details>p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.ratingcard_details>div{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.ratingcard_details>div>span{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.ratingcard_details>div>span>P{
    display: flex;align-items: center;
    justify-content: center;
}
.ratingcard_details>div>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ratingcard_details>div>div>span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
@media only screen and (max-width:600px){
    .ratingcard_details>div>span{
        font-size: 8px;
    }
    .ratingcard_details_div_span_icon{
        font-size: 8px !important;
    }
    .ratingcard_details_div_span_icon_hand{
        font-size: 15px !important;
    }
}