.featurebrands{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.featurebrands_top{
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.featurebrands_top>h6{
    font-size: 22px;
    font-weight: 500;
}
.featurebrands_cards{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}
@media only screen and (max-width:600px){
    .featurebrands_cards{
        width: 95%;
        justify-content: flex-start;
        overflow-x: scroll;
    }
}